// Font properties
$font-size-xs-device: 1px;
$font-size-xl-device: 18px;

/// Text
$text-color: #f8f8f8;
$text-color-alt: #2e4344;
$background-color: #bfd1d5;
$background-color-2: #a6bfc4;

/// Links
$link-color: #35acff;

