<!doctype html>
<html lang="en">

<head>
    {% include skeleton/head.html %}
</head>

<body>
    {% include components/navbar.html %}


    <header class=" wh-full" style="background-color: #ccc;">
        {% include components/fullvideo.html %}
    </header>

    <section class="d-flex py-5" style="position: relative;">

        <div class="test d-none d-md-block rellax" data-rellax-speed="-1">
            <div class="big-circle">
            </div>
        </div>
        <div class="container">
            <div class=" row">
                <div class="col-12 col-md-4 col-lg-3 rellax" data-rellax-speed="0.5">
                    <div class="img-container">
                        <img class="img-fluid"
                            src="https://images.unsplash.com/photo-1600405387570-387c58ffa6d5?ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80" />
                    </div>
                    <!--<img src="https://via.placeholder.com/400x600" />-->
                </div>
                <div class="col-12 col-md-8 col-lg-9 ">
                    <!-- offset-md-4 offset-lg-4 -->
                    <h2>Who am I</h2>
                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac egestas sapien. Donec libero
                        sem,
                        suscipit ut dui in,
                        ultrices facilisis dolor. Nullam sem turpis, sagittis nec mauris non, efficitur ultricies magna.
                        Pellentesque vel
                        imperdiet diam. Mauris augue dui, imperdiet ac tristique at, elementum sit amet mauris. Aenean
                        varius nulla et erat
                        ornare hendrerit. Nunc vitae mi ut lectus sollicitudin dictum. Vestibulum feugiat faucibus
                        tortor,
                        eget placerat mauris
                        egestas ut. Vestibulum tincidunt, metus vitae elementum fringilla, velit est lacinia purus,
                        iaculis
                        sollicitudin nulla
                        metus eu libero. Donec molestie fringilla rhoncus. Nam commodo magna justo, quis feugiat quam
                        hendrerit et. Vestibulum
                        eget metus lobortis, condimentum magna feugiat, tempus elit. Sed et imperdiet justo, id placerat
                        eros.</p>

                </div>
            </div>
        </div>

    </section>

    <section class="d-flex" style="position: relative; overflow: hidden;">
        <div class="test-right d-none d-md-block rellax" data-rellax-speed="-1">
            <img src="{{site.url}}/assets/img/drone2.svg" style="max-height: 800px; fill: #fff" />
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-8  col-lg-9 offset-lg-2">
                    <h2>I Nostri Servizi</h2>
                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac egestas sapien. Donec libero
                        sem,
                        suscipit ut dui in,
                        ultrices facilisis dolor. Nullam sem turpis, sagittis nec mauris non, efficitur ultricies magna.
                        Pellentesque vel
                        imperdiet diam. Mauris augue dui, imperdiet ac tristique at, elementum sit amet mauris. Aenean
                        varius nulla et erat
                        ornare hendrerit.</p>
                </div>
            </div>
            <div class="row">

                <div class="col-12">
                    <div class="services-wrapper rellax" data-rellax-speed="1" data-rellax-percentage="0.1">
                        <div class="services-number">
                            1
                        </div>
                        <div class="services-text  rellax" data-rellax-speed="0.3" data-rellax-percentage="0.1">
                            <h4>Tutorials</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                        </div>
                    </div>
                    <div class="services-wrapper rellax" data-rellax-speed="1" data-rellax-percentage="0.1">
                        <div class="services-number">
                            2
                        </div>
                        <div class="services-text rellax" data-rellax-speed="0.4" data-rellax-percentage="0.1">
                            <h4>Panoramiche</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                        </div>
                    </div>
                    <div class="services-wrapper rellax" data-rellax-speed="1" data-rellax-percentage="0.1">
                        <div class="services-number">
                            3
                        </div>
                        <div class="services-text rellax" data-rellax-speed="0.5" data-rellax-percentage="0.1">
                            <h4>Fotografie</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="d-flex m-0 py-5" style="background-color: #5a8687;">
        <div class="container">
            <div class="row">
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac egestas sapien. Donec libero
                    sem,
                    suscipit ut dui in,
                    ultrices facilisis dolor. Nullam sem turpis, sagittis nec mauris non, efficitur ultricies magna.
                    Pellentesque vel
                    imperdiet diam. Mauris augue dui, imperdiet ac tristique at, elementum sit amet mauris. Aenean
                    varius nulla et erat
                    ornare hendrerit.</p>
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac egestas sapien. Donec libero
                    sem,
                    suscipit ut dui in,
                    ultrices facilisis dolor. Nullam sem turpis, sagittis nec mauris non, efficitur ultricies magna.
                    Pellentesque vel
                    imperdiet diam. Mauris augue dui, imperdiet ac tristique at, elementum sit amet mauris. Aenean
                    varius nulla et erat
                    ornare hendrerit.</p>
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac egestas sapien. Donec libero
                    sem,
                    suscipit ut dui in,
                    ultrices facilisis dolor. Nullam sem turpis, sagittis nec mauris non, efficitur ultricies magna.
                    Pellentesque vel
                    imperdiet diam. Mauris augue dui, imperdiet ac tristique at, elementum sit amet mauris. Aenean
                    varius nulla et erat
                    ornare hendrerit.</p>
            </div>
        </div>
    </section>

    {% include skeleton/footer.html %}

    <script>
        $(function () {
            $(document).scroll(function () {

                var $nav = $(" .navbar"); $nav.toggleClass('navbar-scrolled', $(this).scrollTop() > $nav.height());
            });
        });
    </script>
</body>

</html>